.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto; 
    padding: 40px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 350px;
} 

.footer {
    background-color: #c4ddee;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    background-color: #7fb9db;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;    
    color: floralwhite; 
}

address{
    font-size: 90%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #3282b1;
}

.about {
    padding: 10px;
    color: #0f0f0f;
}

.row-written {
    padding: 40px;
}

.copyrightstyle {
    padding-top: 30px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.btn-reserve {
    padding: 25px;
    color: black;
    width: 1000 px;
}
.submit-btn {
    color: white;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.carousel {
    background:#4183aa;
}
.carousel-item {
    height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}